:root {
  --mainYellow: #f5b971;
  --mainWhite: #fff;
  --mainBlue: #0f4c75;
  --mainGrey: #9b9999;
  --transGrey: rgba(0, 0, 0, 0.1);
}
@font-face {
  font-family: RobotoCondensed;
  src: url(./assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(./assets/economica-bold.ttf);
}
html {
  overflow-x: hidden!important;
}
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 1.25rem;
  font-family: RobotoCondensed;
  /* color: bisque;
  background-color: rgba(2, 1, 1, 0.76); */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: EconomicaBold;
}

h1 {
  font-size: 3rem;
}

.card-title {
  font-size: 1.5rem;
  font-family: EconomicaBold;
}

.dev-name {
  font-size: 1.75rem;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.jumbotron {
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  border-radius: 0 !important;
}

.projects {
  background: var(--transGrey);
  margin-top: 3rem;
}
.card {
  background-color: transparent;
  border: none!important;
}

.btn-yellow {
  background-color: var(--mainYellow);
  text-transform: capitalize;
  font-size: 1.2rem;
  color: var(--mainBlue);
  border-radius: 0 !important;
}
.btn-yellow:hover {
  color: var(--mainYellow);
  background: var(--mainBlue);
}

.project-img {
  border: 0.01rem solid black!important;
  border-radius: 10%;
  height: 325px;
  width: 325px;
}
/* .navbar-toggler-icon{
 
  font-size: 2.2rem;
  color: var(--mainYellow) !important;
} */
/* .nav-link{
  font-size: 1.5rem;
  border-bottom: 0.1rem solid var(--mainWhite);
} */
/* .nav-active{
  border-bottom: 0.1rem solid var(--mainYellow);
} */

.navbar {
  background: var(--mainBlue);
  color: var(--mainWhite);
  /* border-bottom: 0.001rem var(--mainWhite) solid !important; */
}
