:root {
  --mainYellow: #f5b971;
  --mainWhite: #fff;
  --mainBlue: #0f4c75;
  --mainGrey: #9b9999;
}
@font-face{
  font-family: RobotoCondensed;
  src: url(./assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face{
  font-family: EconomicaBold;
  src: url(./assets/economica-bold.ttf);
}

body {
  text-align: center;
  font-size: 1.25rem;
  font-family: RobotoCondensed;
  /* color: bisque;
  background-color: rgba(2, 1, 1, 0.76); */
}

h1, h2, h3, h4, h5 {
  font-family: EconomicaBold;
}

h1 {
  font-size: 5rem;
}

.dev-name {
  font-size: 1.75rem;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-out {
  from {opacity: 100;}
  to {opacity: 0;}
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 100;}
}

.jumbotron {
  background-color: var(--mainBlue);
  color: var(--mainWhite);
}

.btn-yellow {
  background-color: var(--mainYellow);
  text-transform: capitalize;
  font-size: 1.20rem;
  color: var(--mainBlue);
  border-radius: 0 !important;
}
.btn-yellow:hover {
  color: var(--mainYellow);
  background: var(--mainBlue);
}
