@font-face{
  font-family: RobotoCondensed;
  src: url(./assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face{
  font-family: EconomicaBold;
  src: url(./assets/economica-bold.ttf);
}

body {
  text-align: center;
  font-size: 1.75rem;
  padding: 2.5%;
  font-family: RobotoCondensed;
  /* color: bisque;
  background-color: rgba(2, 1, 1, 0.76); */
}

h1, h2, h3, h4, h5 {
  font-family: EconomicaBold;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}